<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="network-name">book-distribution@0.0.1.bna</p>
        <p class="navbar-brand">bdn-angular</p>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown">Assets</a>
            <ul class="dropdown-menu scrollable-menu">
              
              <li><a [routerLink]="['/Book']">Book</a></li>
              
              <li><a [routerLink]="['/Amount']">Amount</a></li>
              
              <li><a [routerLink]="['/Library']">Library</a></li>
              
            </ul>
        </li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown">Participants</a>
          <ul class="dropdown-menu scrollable-menu">
            
            <li><a [routerLink]="['/Student']">Student</a></li>
            
          </ul>
      </li>
      <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown">Transactions</a>
        <ul class="dropdown-menu scrollable-menu">
          
          <li><a [routerLink]="['/issueBook']">issueBook</a></li>
          
          <li><a [routerLink]="['/returnBook']">returnBook</a></li>
          
        </ul>
    </li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
